.footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-top: 67px;
}

/* .footer__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin: 0;
  text-align: center;
} */

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 200px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 48px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
